#lesros {
	list-style: none;
	list-style-type: none;
	li {
		list-style: none;
		list-style-type: none;
		padding: 0 2rem;
	}
}
#kpaflotage {
	position: absolute;
	bottom: 0;
	z-index: 100;
	position: absolute;
	right: 2em;
}
/* Add your styles here */
#homewrapper {
	padding: 0em;
	padding: 0;
	margin: 0;
	height: 100vh;

	#main {
	}

	#menureso {
		width: 100vw;
		padding: 0 62px 0 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0 0 0 0;
			top: 63px;
			position: relative;
			li {
				margin: 0;
				padding: 0 0 0 50px;
			}
			a {
				height: 28px;
				display: block;
				margin: 0;
				padding: 0;
				line-height: 0;
				position: relative;
				img {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}
.neworder {
	font-family: "new-order", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.newordermed {
	font-family: "new-order", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.newordersemibold {
	font-family: "new-order", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.neworderbold {
	font-family: "new-order", sans-serif;
	font-weight: 700;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "new-order", sans-serif;
	font-weight: 400;
}
#main {
	a {
		font-family: "new-order", sans-serif;
		font-weight: 700;
		font-style: normal;
		color: black !important;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 5em;
		text-decoration: none !important;
	}
}
$primary: #82368c;
$secondary: #29348b;
.primary-bg {
	background: $primary;
}
.secondary-bg {
	background: $secondary;
}
#header-alt {
	position: fixed;
	z-index: 100;
	top: 0;
}
.button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
}
//sidebar
#sidebar {
}
#menuhomepage {
	#menulinks {
		margin: 0;
		padding: 3em 1em 1em 1em;
		list-style: none;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		li {
			margin: 1em 0.5em;
			padding: 0.5em;
			&.active {
				a {
					color: $primary;
				}
			}
			a {
				font-family: "New Order";
				font-weight: 700;
				color: rgb(0, 0, 0);
				font-size: 20px;
				text-decoration: none;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}

#lagence {
	.logocontainer {
		a {
			justify-content: center;
			display: flex;
			align-items: center;
			img {
				width: 80%;
				height: auto;
			}
		}
	}
}
.slide5-background {
	background: url("/img/visages.jpg");
	background-position: 50% 50%;
	transition: background-position 0.5s ease-out;
}

.slide5-background:hover {
	background-position: 50% 70%;
	/* Adjust the background position as needed */
	transition: background-position 0.5s ease-out;
}
$sidebar-width: 20.5%;
$viewport-width: 100%;
#slide1 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 1em 8em;
	h3 {
		font-weight: 800;
		&:nth-of-type(1) {
			padding: 5.1em 0 1em 0;
			margin: 0;
		}
		&:nth-of-type(2) {
			padding: 0em 0 1em 0;
			margin: 0;
		}
	}
	p {
		font-weight: 800;
		font-size: 67px;
		line-height: 73px;
		letter-spacing: -0.5px;
		padding: 0em 0 0 0;
		span {
			font-weight: 800;
			font-size: 67px;
		}
	}
}
.swiper-slide {
	display: flex;
	align-items: center;
	padding: 1em;
	justify-content: flex-start;
	* {
		color: white;
	}
	h3 {
	}
}
#lagence {
	.sidebar {
		width: $sidebar-width;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 3em;

		.logocontainer {
			order: 1;
		}

		#menuhomepage {
			order: 2;
		}

		&.flipit {
			flex-direction: column;
			justify-content: space-between;
			padding-top: 2em;

			.logocontainer {
				order: 2;
			}

			#menuhomepage {
				order: 1;
			}

			#menulinks {
				padding: 1em;
			}
		}

		#menulinks {
			padding: 5.5em 1em 1em 1em;
		}
	}

	#lemain {
		width: calc(#{$viewport-width} - #{$sidebar-width});
	}
}
#slide2 {
	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-top: 5em;
	}
	.sabine {
		top: 1em;
		position: relative;

		p {
			font-size: 19px;
			line-height: 24px;
		}
	}
	h3 {
		text-transform: uppercase !important;
		font-weight: bold !important;
		margin-top: 7px !important;
		font-size: 23px;
	}
	.row {
		padding: 0 2em;
		margin: 0 auto;
		max-width: 50vw;
	}

	.col-md-4 {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
	}
	img {
		max-width: 244px;
	}
}
#slide4 {
	overflow: hidden;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			color: #6759b4;
			font-size: 81px;
			margin: 0;
			padding: 0;
			line-height: 62px;
			font-weight: 800;
		}
	}
}
.swiper-pagination {
	position: absolute;
	right: 5% !important;
	span {
		display: block;
		height: 16px;
		width: 16px;
		&.swiper-pagination-bullet-active {
			color: white;
			background: white;
		}
	}
}
#header-alt {
	width: 100vw;
	padding: 0;
	margin: 0;
	.logocontainer {
		a {
			display: block;
			padding: 0em 1em 3em 3em;
			img {
				height: 94px;
				width: auto;
			}
		}
	}
	.innerzr {
		max-width: 92vw;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0;
		.row {
			height: 198px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
	}
	#menureso {
		ul {
			padding: 0;
			list-style: none;
			li {
				padding: 0px 14px 0 28px;
				list-style: none;
			}
		}
	}
	#menulinks {
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		margin-left: 5em;
		li {
			padding: 0;
			list-style: none;
			margin: 0 1em 0 2em;

			a {
				padding: 0;
				margin: 0;
				font-size: 20px;
				line-height: 24px;
				font-weight: 700;
				color: white;
				text-decoration: none;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}

#header {
	width: 100vw;
	padding: 0;
	margin: 0;
	background: white;
	.logocontainer {
		a {
			display: block;
			padding: 0em 1em 3em 3em;
			img {
				height: 94px;
				width: auto;
			}
		}
	}
	.innerzr {
		max-width: 92vw;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0;
		.row {
			height: 198px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
	}
	#menureso {
		ul {
			padding: 0;
			list-style: none;
			li {
				padding: 0px 14px 0 28px;
				list-style: none;
			}
		}
	}
	#menulinks {
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		margin-left: 5em;
		li {
			padding: 0;
			list-style: none;
			margin: 0 1em 0 2em;

			a {
				padding: 0;
				margin: 0;
				font-size: 20px;
				line-height: 24px;
				font-weight: 700;
				color: rgb(0, 0, 0);
				text-decoration: none;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}
#footer {
	position: absolute;
	right: 0;
	margin: 0 auto;
	bottom: 1em;
	left: 0;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#contactpage {
	position: relative;
	height: 100vh;
	background: rgb(2, 0, 36);
	background: linear-gradient(349deg, rgba(2, 0, 36, 1) 0%, rgba(130, 54, 140, 1) 100%);
	h3 {
		text-transform: uppercase;
		font-weight: 700;
		color: white;
		font-size: 50px;
		margin-top: 5px;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 45vh;
	}
}
.vanhouan {
	padding-top: 4em;
	h2 {
		text-transform: uppercase;
		font-weight: 800;
		color: white;
		font-size: 25px;
		margin-top: 5px;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	h4 {
		text-transform: uppercase;
		font-weight: 200;
		color: white;
		font-size: 25px;
		margin-top: 5px;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 1480px; /* 
	width: 100vw; */
	margin: 200px auto 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

form div {
	margin-bottom: 10px;
}
textarea,
input[type="text"],
input[type="email"],
input[type="textarea"],
input[type="message"],
input[type="submit"] {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ffffff;
	padding: 18px 0;
	color: white;
	width: 49vw;
	font-size: 16px;
	outline: none;
	transition: border-bottom-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="message"]:focus {
	border-bottom-color: $primary;
}

input[type="submit"] {
	background-color: white !important;
	color: $primary;
	margin-top: 5em;
	text-transform: uppercase;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 16px;
	max-width: 300px;
}

input[type="submit"]:hover {
	background-color: $primary;
}
input::-webkit-input-placeholder {
	color: #ffffff;
}
input::-moz-placeholder {
	color: #ffffff;
}
input:-ms-input-placeholder {
	color: #ffffff;
}
input::-ms-input-placeholder {
	color: #ffffff;
}
input::placeholder {
	color: #ffffff;
}
input::-webkit-input-placeholder {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
input::-moz-placeholder {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
input:-ms-input-placeholder {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
input::-ms-input-placeholder {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
input::placeholder {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
textarea::-webkit-input-placeholder {
	color: #bdbdbd;
}
textarea::-moz-placeholder {
	color: #bdbdbd;
}
textarea:-ms-input-placeholder {
	color: #bdbdbd;
}
textarea::-ms-input-placeholder {
	color: #bdbdbd;
}
textarea::placeholder {
	color: #bdbdbd;
}

#slide1 {
	span {
		display: inline-block;
		transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
			translateZ(0px) skewX(1deg) skewY(12deg);
		-webkit-transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
			translateZ(0px) skewX(1deg) skewY(12deg);
		-moz-transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
			translateZ(0px) skewX(1deg) skewY(12deg);
		-ms-transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
			translateZ(0px) skewX(1deg) skewY(12deg);
		-o-transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
			translateZ(0px) skewX(1deg) skewY(12deg);
		transition: transform 0.5s ease-in-out;
	}
	// &.swiper-slide-visible {
	// 	span {
	// 		transform: none;
	// 		transition: transform 0.5s ease-in-out;
	// 	}
	// }
}
.animationslide1 {
	display: inline-block;
	transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
		translateZ(0px) skewX(1deg) skewY(12deg);
	-webkit-transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
		translateZ(0px) skewX(1deg) skewY(12deg);
	-moz-transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
		translateZ(0px) skewX(1deg) skewY(12deg);
	-ms-transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
		translateZ(0px) skewX(1deg) skewY(12deg);
	-o-transform: scale(22.5) rotateX(-21deg) rotateY(0deg) rotateZ(0deg) translateX(-12px) translateY(27px)
		translateZ(0px) skewX(1deg) skewY(12deg);
	transition: transform 0.5s ease-in-out;
}
.resetanimationslide1 {
	display: inline-block;
	transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px)
		skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px)
		translateZ(0px) skewX(0deg) skewY(0deg);
	-moz-transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px)
		skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px)
		skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px)
		skewX(0deg) skewY(0deg);
	transition: transform 0.5s ease-in-out;
}
/* CSS file */
.slide1-active {
	span {
		transform: none !important;
		transition: transform 0.5s ease-in-out !important;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
	}
}

#die {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5vh 39vw 0 12vw;
	p {
		font-size: 20px;
		line-height: 29px;
		margin-bottom: 2.5em;
	}
	.moungoue {
	}
}

#swide {
	display: flex;
	align-items: flex-end;
	height: inherit;
	h3 {
		text-transform: uppercase;
		font-weight: bold;
		white-space: nowrap;
		word-break: unset;
		font-size: 6em;
		line-height: 72px;
		margin-bottom: 0em;
		position: relative;
	}
	h4 {
		font-weight: bold;
		font-size: 41px;
		word-break: unset;
		white-space: nowrap;
		padding-left: 2em;
	}
}
.lemoukouagne {
	padding: 0 9em 0 1em;
}
div#moufmideh {
	height: 302px;
	padding: 0 15em 0 11.5vw;
	width: 100%;
	display: block;
}
#slide3 {
	display: flex;
	align-items: center !important;
	flex-direction: column;
	justify-content: center !important;

	.carousel {
		max-width: 100%;
		padding: 0 0 0 14em;
	}
	.carousel__slide--active {
		filter: alpha(opacity=100) !important;
		-khtml-opacity: 1 !important;
		-moz-opacity: 1 !important;
		opacity: 1 !important;
		-webkit-filter: alpha(opacity=100) !important;
	}
	.carousel__slide {
		justify-content: flex-start;
		flex-direction: column;
		width: auto !important;

		filter: alpha(opacity=50); /* internet explorer */
		-khtml-opacity: 0.5; /* khtml, old safari */
		-moz-opacity: 0.5; /* mozilla, netscape */
		opacity: 0.5; /* fx, safari, opera */

		h3 {
			text-transform: uppercase;
			font-weight: bold;
			white-space: nowrap;
			word-break: unset;
			font-size: 6em;
			line-height: 72px;
			margin-bottom: 0em;
			position: relative;
		}
		h4 {
			font-weight: bold;
			font-size: 41px;
			word-break: unset;
			white-space: nowrap;
			padding-left: 2em;
		}
	}
}
