#lesros {
	list-style: none;
	list-style-type: none;
	li {
		list-style: none;
		list-style-type: none;
		padding: 0 2rem;
	}
}
/* Add your styles here */
#homewrapper {
	padding: 0em;
	padding: 0;
	margin: 0;
	height: 100vh;

	#main {
	}

	#menureso {
		width: 100vw;
		padding: 0 62px 0 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0 0 0 0;
			top: 63px;
			position: relative;
			li {
				margin: 0;
				padding: 0 0 0 50px;
			}
			a {
				height: 28px;
				display: block;
				margin: 0;
				padding: 0;
				line-height: 0;
				position: relative;
				img {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}
.neworder {
	font-family: "new-order", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.newordermed {
	font-family: "new-order", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.newordersemibold {
	font-family: "new-order", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.neworderbold {
	font-family: "new-order", sans-serif;
	font-weight: 700;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "new-order", sans-serif;
	font-weight: 400;
}
#main {
	a {
		font-family: "new-order", sans-serif;
		font-weight: 700;
		font-style: normal;
		color: black !important;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 5em;
		text-decoration: none !important;
	}
}
$primary: #82368c;
$secondary: #29348b;
.primary-bg {
	background: $primary;
}
.secondary-bg {
	background: $secondary;
}
#header-alt {
	position: fixed;
	z-index: 100;
	top: 0;
}
.button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
}
//sidebar
#sidebar {
}
#menuhomepage {
	#menulinks {
		margin: 0;
		padding: 3em 1em 1em 1em;
		list-style: none;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		li {
			margin: 1em 0.5em;
			padding: 0.5em;
			&.active {
				a {
					color: $primary;
				}
			}
			a {
				font-family: "New Order";
				font-weight: 700;
				color: rgb(0, 0, 0);
				font-size: 20px;
				text-decoration: none;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}

#lagence {
	.logocontainer {
		a {
			justify-content: center;
			display: flex;
			align-items: center;
			img {
				width: 80%;
				height: auto;
			}
		}
	}
}
