#lesros {
	list-style: none;
	list-style-type: none;
	li {
		list-style: none;
		list-style-type: none;
		padding: 0 2rem;
	}
}
.neworder {
	font-family: "new-order", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.newordermed {
	font-family: "new-order", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.newordersemibold {
	font-family: "new-order", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.neworderbold {
	font-family: "new-order", sans-serif;
	font-weight: 700;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "new-order", sans-serif;
	font-weight: 400;
}
#main {
	a {
		font-family: "new-order", sans-serif;
		font-weight: 700;
		font-style: normal;
		color: black !important;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 5em;
		text-decoration: none !important;
	}
}
$primary: #82368c;
$secondary: #29348b;
.primary-bg {
	background: $primary;
}
.secondary-bg {
	background: $secondary;
}
#header-alt {
	position: fixed;
	z-index: 100;
	top: 0;
}
